.categories-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.categories-cards .card {
    width: 312px;
    height: 220px;
    padding: 24px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--text-primary-color);
    background-color: var(--background-secondary-color);
}

.categories-cards .single-line {
    padding-top: 50px;
}

.categories-cards .card.single-line.transfer img {
    margin: 10px 0 20px;
}

@media  screen and (min-width: 768px) {
    .categories-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .categories .section-title {
        width: 100%;
    }
}

@media  screen and (min-width: 1024px) {
    .categories-cards .card {
        width: 430px;
    }
}

@media  screen and (min-width: 1440px) {
    .categories-cards .card {
        width: 280px;
    }
}

