
.destination-items {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.destinations .item .img-item {
    width: 100%;
    height: 360px;
    margin: 32px 0 24px 0;
}

.img-item.tokyo {
    background: url(../imagens/tokyo-mobile.jpg) no-repeat;
    background-size: cover;
}

.img-item.osaka {
    background: url(../imagens/osaka-mobile.jpg) no-repeat;
    background-size: cover;
} 

.destinations .item h3 {
    margin: 0;
}

.destinations .item p {
    padding: 24px 0;
}

.destinations .item .button {
    width: 100%;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .destinations{
        width: 648px;
    }

    .destinations .item .img-item {
        width: 100%;
        height: 452px;
    }

    .img-item.tokyo {
        background: url(../imagens/tokyo-tablet-desk.jpg) no-repeat;
        background-size: cover;
    }

    .img-item.osaka {
        background: url(../imagens/osaka-tablet-desk.jpg) no-repeat;
        background-size: cover;
    } 

    .destinations .item .button {
        width: 280px;
    }
}

@media screen and (min-width: 1024px) {
    .destinations {
        width: 900px;
    }

    .destinations .item .img-item {
        width: 100%;
        height: 452px;
    }
}

@media screen and (min-width: 1440px) {
    .destination-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .destinations {
        width: 1200px;
        margin-top: 64px;
    }

    .destinations .item .img-item {
        width: 100%;
        height: 452px;
    }

    .img-item.tokyo {
        background: url(../imagens/tokyo-tablet-desk.jpg) no-repeat;
        background-size: cover;
    }

    .img-item.osaka {
        background: url(../imagens/osaka-tablet-desk.jpg) no-repeat;
        background-size: cover;
    } 

    .destinations .item .button {
        width: 280px;
    }
}