@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --fonte: "Montserrat";

  --text-weight: 400;
  --title-weight: 700;
  --menu-text-weight: 500;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    color: var(--text-primary-color);
}

section {
    width: 312px;
    margin: 0 auto 88px;
}

section.hero,
section.bottom-hero {
    width: 100%;
    margin: 0;
}

.section-title {
    width: 280px;
    margin: 0 auto 32px; 
}

.content-title {
    font-size: 28px;
    margin: 0 0 24px;
    font-weight: var(--title-weight);
}

.content-text {
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--text-weight);
}

.section-title h2 {
    margin: 0;
    font-size: 28px;
    text-align: center;
    font-weight: var(--title-weight);
}

.section-title hr {
    height: 4px;
    width: 180px;
    border: none;
    margin: 16px auto 32px;
    background-color: var(--secondary-color);
}

.button {
    width: 280px;
    height: 64px;
    font-size: 24px;
    line-height: 64px;
    text-align: center;
    border-radius: 16px;
    display: inline-block;
    text-decoration: none;
    font-weight: var(--title-weight);
    color: var(--text-secondary-color);
    background-color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
    .section-title h2 {
        font-size: 32px;
    }

    .section-title {
        width: 100%;
    }

    section {
        width: 648px;
    }
}

@media screen and (min-width: 1024px) {
    .button:hover {
        background-color: var(--primary-color);
    }

    section {
        width: 900px;
    }
}

@media screen and (min-width: 1440px) {
    section {
        width: 1200px;
    }
}