.hero .hero-img,
.bottom-hero .hero-img {
    height: 400px;
    width: 100%;
}

.hero .hero-img {
    background: url(../imagens/hero-mobile.png) no-repeat;
    background-size: cover;
}

.bottom-hero .hero-img {
    background: url(../imagens/bg-bottom-hero-mobile.png) no-repeat;
    background-size: cover;
}

.hero h2 {
    margin: 0px;
    font-size: 20px;
    line-height: 1.5;
    padding: 88px 24px;
    text-align: center;
    font-weight: var(--text-weight); 
}

/* Pacotes de Viagens */

.travel-packages.hero {
    margin-bottom: 88px;
}

.travel-packages .hero-img {
    height: 460px;
    background: url(../imagens/travel-packages/japan-bg-hero-mobile.png) no-repeat center;
    background-size: cover;
}

.travel-packages.bottom-hero .hero-img {
    background: url(../imagens/travel-packages/japan-bg-bottom-hero-mobile.png) no-repeat;
    background-size: cover;
}

.travel-packages .hero-content {
    padding: 65px 24px;
}

.travel-packages .hero-content h1 {
    font-size: 48px;
    color: var(--text-secondary-color);
    font-weight: var(--title-weight);
}

.travel-packages .hero-content hr {
    width: 180px;
    height: 4px;
    border: none;
    background-color: var(--secondary-color);
    margin: 16px 0 32px;
}

.travel-packages .hero-content p {
    font-size: 20px;
    line-height: 32px;
    color: var(--text-secondary-color);
    font-weight: var(--text-weight);
}

@media screen and (min-width: 768px) {

    .hero-img {
        height: 620px;
        background: url(../imagens/hero-tablet.png) no-repeat;
        background-size: cover;
    }

    .bottom-hero .hero-img {
        height: 400px;
        background: url(../imagens/bg-bottom-hero-tablet.png) no-repeat;
        background-size: cover;
    }

    .hero h2 {
        font-size: 32px;
        padding: 88px 60px;
    }
}

@media screen and (min-width: 1024px) {

    .hero-img {
        height: 620px;
        background: url(../imagens/hero-desktop.png) no-repeat;
        background-size: cover;
    }

    .bottom-hero .hero-img {
        height: 600px;
        background: url(../imagens/bg-bottom-hero-tablet.png) no-repeat;
        background-size: cover;
    }

    .hero h2 {
        padding: 88px 120px;
    }
}

@media screen and (min-width: 1920px) {

    .hero h2 {
        padding: 88px 160px;
    }
}