.image-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Cria duas colunas de tamanho igual */
    gap: 24px;
    width: 100%;
    height: 460px;
    margin-top: 24px;
}

.image.bag {
    background: url(../imagens/japao1-mobile.png) no-repeat;
    background-size: cover;
}

.image.passport {
    background: url(../imagens/japao2-mobile.png) no-repeat;
    background-size: cover;
}

.image.people {
    background: url(../imagens/japao3-mobile.png) no-repeat;
    background-size: cover;
}

.image.large {
    grid-column: span 2; /* Faz o item ocupar duas colunas */
}

@media screen and (min-width: 768px) {
    .image.bag {
        background: url(../imagens/japao1-tablet-desk.png) no-repeat;
        background-size: cover;
    }

    .image.passport {
        background: url(../imagens/japao2-tablet-desk.png) no-repeat;
        background-size: cover;
    }

    .image.people {
        background: url(../imagens/japao3-tablet-desk.png) no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 1440px) {
    .content-container {
        display: flex;
        justify-content: space-between;
    }

    .text-content {
        width: 360px;
    }

    .image-content {
        width: 790px;
        margin: 0;
    } 
}