.testimonial-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.testimonial-container article header p {
    font-size: 16px;
    line-height: 28px;
}

.testimonial-container footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.testimonial-container footer img {
    width: 86px;
    height: 86px;
}

.testimonial-container footer .profile-content h3 {
    font-weight: var(--title-weight);
    line-height: 32px;
    font-size: 20px;
    margin: 0 0 8px;
}

.testimonial-container footer .profile-content .rating .star {
    color: var(--secondary-color);
    line-height: 32px;
    font-size: 32px;
}

@media screen and (min-width: 1440px) {
    .testimonial-container {
        flex-direction: row;
}
}